---
import BlogPost from '@/layouts/BlogPost'
import fetchApi from 'src/lib/strapi'
export const prerender = false

const { slug } = Astro.params
let articleSlug = !slug ? 'index' : slug

const fetchSingleArticle = async () => {
	const article = await fetchApi<ArticleAttributes>({
		endpoint: `/article/${articleSlug}`,
		query: { populate: '*' }
	})
	return article
}
const articleData = await fetchSingleArticle()
---

<BlogPost data={articleData}>
	<!-- post -->
	<article class='max-w-full w-full'>
		<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
			<!-- <Content components={{ pre: Code, SButton }} /> -->
		</div>
		<!-- <ArticleView /> -->
		<!-- related posts -->
	</article>
	<!-- </div> -->
</BlogPost>
