---
import BlogPost from '@/layouts/BlogPost'
import { fetchArticlesData } from 'src/utils/fetchApiData'

export const prerender = true
export async function getStaticPaths() {
	const allArticles = await fetchArticlesData()

	return allArticles.map((article) => ({
		params: { slug: article.attributes.slug },
		props: article
	}))
}
const article = Astro.props.attributes
---

<BlogPost data={article}>
	<!-- post -->
	<article class='max-w-full w-full'>
		<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
			<!-- <Content components={{ pre: Code, SButton }} /> -->
		</div>
		<!-- <ArticleView /> -->
		<!-- related posts -->
	</article>
	<!-- </div> -->
</BlogPost>
