---
import BaseLayout from '@/layouts/BaseLayout'
import { fetchPrivacyPolicy } from '../utils/fetchApiData'
import { marked } from 'marked'
import LanguageButtons from '@/components/static-page/LanguageButtons'

const privacyPolicyData: PrivacyPolicy = await fetchPrivacyPolicy()

const isArabic = Astro.url.searchParams.get('lang') === 'ar'
const english = marked(privacyPolicyData.data.attributes.english_pp)
const arabic = marked(privacyPolicyData.data.attributes.arabic_pp)
---

<BaseLayout
	title={isArabic ? 'سياسة الخصوصية' : 'Privacy Policy'}
	description={isArabic ? 'تكنودرويد - سياسة الخصوصية' : 'TechnoXDroid Privacy Policy'}
>
	<div class='min-h-[calc(100vh-20rem)] flex flex-col justify-center my-8'>
		<LanguageButtons />
		<div
			set:html={isArabic ? arabic : english}
			class={`prose dark:prose-invert max-w-none prose-p:text-lg prose-img:m-auto prose-img:max-h-[720px]  ${isArabic ? 'forceRTL' : 'forceLTR'}  rounded-xl md:p-8 p-4 shadow-profileShadow`}
		/>
	</div>
</BaseLayout>
