---
import BaseLayout from '@/layouts/BaseLayout'
import { fetchAboutPage } from '../utils/fetchApiData'
import { marked } from 'marked'
import LanguageButtons from '@/components/static-page/LanguageButtons'

const profileData = await fetchAboutPage()
const english = marked(profileData.data.attributes.contentEnglish)
const arabic = marked(profileData.data.attributes.contentArabic)
const isArabic = Astro.url.searchParams.get('lang') === 'ar'
---

<BaseLayout title={'Profile'} description={'TechnoXDroid Profile'}>
	<div class='min-h-[calc(100vh-20rem)] text-center flex flex-col justify-center my-8'>
		<LanguageButtons />

		<div
			set:html={isArabic ? arabic : english}
			class={`prose dark:prose-invert max-w-none prose-p:text-lg prose-img:m-auto prose-img:max-h-[720px] text-center ${isArabic ? 'forceRTL' : 'forceLTR'}  rounded-xl md:p-8 p-4 shadow-profileShadow`}
		/>
	</div>
</BaseLayout>
