---
import BaseLayout from '@/layouts/BaseLayout'

const setEnglish = () => {}
---

<BaseLayout title={'Profile'} description={'Hello World!'}>
	<div class='flex justify-center'>
		<h1>Hello World!</h1>
	</div>
</BaseLayout>
