---
import BaseLayout from '@/layouts/BaseLayout'
import { fetchAboutPage } from '../utils/fetchApiData'
import { marked } from 'marked'

const profileData = await fetchAboutPage()
const english = marked(profileData.data.attributes.contentEnglish)
const arabic = marked(profileData.data.attributes.contentArabic)

const currentPath = Astro.url.searchParams.get('lang')
---

<BaseLayout title={'Profile'} description={'Hello World!'}>
	<div class='flex justify-end'>
		<a
			href={`?lang=` + (currentPath === 'ar' ? 'en' : 'ar')}
			class='text-xl border cursor-pointer flex w-fit px-4 py-2 rounded-lg'
		>
			{currentPath === 'ar' ? 'English' : 'العربية'}
		</a>
	</div>
	<div
		set:html={currentPath == 'ar' ? arabic : english}
		class={`prose dark:prose-invert max-w-none prose-p:text-lg prose-img:m-auto prose-img:max-h-[720px] text-center 
		min-h-[calc(100vh-25rem)]
		 ${currentPath === 'ar' ? 'forceRTL' : 'forceLTR'}
		 `}
	/>
</BaseLayout>
