---
import { cn } from 'src/utils/utils'
const { name = 'جميع المقالات', categorySlug } = Astro.props
let activeCategory = Astro.params.category
const currentPath = Astro.url.pathname
const isMovies = currentPath.includes('movies-and-shows')
const isActive = name !== 'جميع المقالات' ? activeCategory === categorySlug : currentPath === '/'

const buttonStyle =
	'pb-2.5 font-medium border-b-2 border-opacity-0 dark:border-opacity-0 border-black dark:border-action-activeDark dark:hover:border-white hover:border-opacity-100 transition-colors duration-150 ease-linear'

const activeMovies =
	'text-movies-active border-movies-active hover:border-movies-active dark:text-movies-active dark:border-movies-active dark:hover:border-movies-active'
---

<a
	href={name === 'جميع المقالات' ? '/' : `/category/${categorySlug}/1`}
	id={isActive ? 'activeCategory' : ''}
	class={cn(
		buttonStyle,
		isActive &&
			'border-b-2 z-10 dark:border-opacity-100 border-opacity-100 activeCategory text-action-active dark:text-action-activeDark border-action-active dark:border-action-activeDark dark:hover:border-action-activeDark cursor-default',
		isMovies && isActive && activeMovies
	)}
>
	{name}
</a>
<script>
	document.addEventListener('astro:after-swap', () => {
		const activeCategory = document.getElementById('activeCategory')
		activeCategory?.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'center' })
	})
</script>
