---
import { format, parseISO, formatDistanceToNow } from 'date-fns'
export interface Props {
	date: string
}
const { date } = Astro.props
const publishDate = date
const sinceTime = formatDistanceToNow(new Date(date))
---

<div class='text-sm font-bold text-opacity-60 flex flex-col'>
	<span class='flex w-full'>
		{format(parseISO(publishDate), 'yyyy, MMMM dd')}
	</span>
	<span class='flex w-full justify-end font-normal'>
		{sinceTime}
	</span>
</div>
