---
import { format, parseISO, formatDistanceToNow } from 'date-fns'
export interface Props {
	date: string
	insidePost?: boolean
}
const { date, insidePost } = Astro.props
const publishDate = date
const sinceTime = formatDistanceToNow(new Date(date))
---

<div class='text-sm font-bold text-opacity-60 flex flex-col forceLTR'>
	<span class='flex w-full'>
		{format(parseISO(publishDate), 'yyyy, MMMM dd')}
	</span>
	{!insidePost && <span class='flex w-full font-normal'>{sinceTime}</span>}
</div>
