---
import Category from '@/components/Category'
const homePage = Astro.url.pathname === '/'
const { categoriesData } = Astro.props
---

<div
	class=`${homePage ? 'max-[720px]:animate-scaleToLeftAndBack': ''} gap-5 flex overflow whitespace-nowrap overflow-x-auto no-scrollbar py-6`
>
	<Category />

	{
		categoriesData?.data.map((category) => (
			<Category name={category.attributes.name} categorySlug={category.attributes.slug} />
		))
	}
</div>
