---
import Category from '@/components/Category'
import { fetchCategories } from 'src/utils/fetchApiData'
const { activeCategory } = Astro.props
const categoriesData = await fetchCategories()
---

<div class='relative flex flex-wrap min-w-full gap-5'>
	<Category />
	{
		categoriesData.data.map((category) => (
			<Category
				name={category.attributes.name}
				activeCategory={activeCategory}
				categorySlug={category.attributes.slug}
			/>
		))
	}

	<div class='hidden sm:block absolute w-full bottom-0 border-b-2 -z-40 dark:border-gray-600'></div>
</div>
