---
const { pagination, isCategory, categorySlug } = Astro.props
import { URLS } from '../constants/urls'
interface Props {
	pagination: Pagination
	isCategory: boolean
	categorySlug?: string
}

const currentPage = pagination.page
const allArticles = pagination.total
const allPagesCount = pagination.pageCount

const lastPage = allPagesCount === currentPage

const categoryURL = URLS.categories.builder
const homeURL = URLS.home.builder
---

<div class='flex justify-evenly text-md white'>
	{
		(
			<a
				class={`mx-2 ${currentPage === 1 ? 'text-gray-400 cursor-default' : 'text-black dark:text-white'}`}
				href={
					currentPage === 1
						? 'javascript:void(0)'
						: isCategory
							? categoryURL({ currentPage: currentPage - 1 })
							: homeURL({ currentPage: currentPage - 1 })
				}
			>
				&laquo; السابق
			</a>
		)
	}
	<div class='flex'>
		<div class='mx-2 text-[#7D4B94] dark:text-[#834F8C] font-bold' title='الصفحة الحالية'>
			{currentPage}
		</div>
		<div class='mx-1'>من</div>
		<div class='mx-2' title='عدد الصفحات الكلّي'>{allPagesCount}</div>
	</div>
	{
		currentPage < pagination.total && (
			<a
				class={`mx-2 ${lastPage ? 'text-gray-400 cursor-default' : 'text-black dark:text-white'}`}
				href={
					lastPage
						? 'javascript:void(0)'
						: isCategory
							? categoryURL({ currentPage: currentPage + 1 })
							: homeURL({ currentPage: currentPage + 1 })
				}
			>
				التالي &raquo;
			</a>
		)
	}
</div>
