---
const { currentPage, totalPages } = Astro.props
import { URLS } from '../constants/urls'
---

<div>
	{
		totalPages > 5 && currentPage > 1 && (
			<a style='white text-xl' href={URLS.home.builder({ currentPage: currentPage - 1 })}>
				&laquo; Previous
			</a>
		)
	}
	{
		currentPage < totalPages && (
			<a style='white text-xl' href={URLS.home.builder({ currentPage: currentPage + 1 })}>
				Next &raquo;
			</a>
		)
	}
</div>
<!-- // href={
	// 	'articles?populate=*?pagination[page]=' + (currentPage + 1) + '&pagination[pageSize]=5'
	// 	// 'articles?populate=*?pagination[page]=1&pagination[pageSize]=5'
	// }
} -->
