---
const { currentPage, totalPages } = Astro.props
---

<div>
	{
		totalPages > 5 && currentPage > 1 && (
			<a style='white text-xl' href={`${'/articles?page=' + (currentPage - 1)}`}>
				&laquo; Previous
			</a>
		)
	}
	{
		currentPage < totalPages && (
			<a
				style='white text-xl'
				href={
					'articles?populate=*?pagination[page]=' + (currentPage + 1) + '&pagination[pageSize]=5'
					// 'articles?populate=*?pagination[page]=1&pagination[pageSize]=5'
				}
			>
				{/* /articles?populate=*?pagination[page]=1&pagination[pageSize]=5 */}
				Next &raquo;
			</a>
		)
	}
</div>
